*.dll
*.pdb
obj/**
bin/**
runtimes/**
*.user
*.PublishSettings
publish.cmd
packages/
.vs/
/Properties/PublishProfiles/botcodex - FTP.pubxml
/Properties/PublishProfiles/botcodex - ReadOnly - FTP.pubxml
/Properties/PublishProfiles/botcodex - Web Deploy.pubxml
